.contenedor{
    display: grid;
    grid-template-columns:repeat(3,150px);
    gap: 2px;
    text-align: center;
    padding: 5px;
}

.contenido{
    background-color: aqua;
    border: 1px solid black;
}