body {
  display: flex;
  text-align: center;
  justify-content: center;
}

.form {
  padding: 15px;
  text-align: left;
  border: 2px solid black;
}

input,
select {
  margin-bottom: 15px;
  width: 100%;
}
.form_buton {
  display: flex;
  margin: 0 auto;
  background-color: blue;
  color: white;
}

.form_label {
  font-weight: bold;
}

.form_buton:hover {
  background-color: aqua;
}
