body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div {
  text-align: left;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

.div_form_buton {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  width: 200px;
  color: white;
  background-color: rgb(46, 112, 254);
}

.div_form_label {
  font-weight: bold;
}
.div_form_buton:hover {
  color: greenyellow;
}
.div_form_ms {
  text-align: center;
}

.div_form_input {
  margin-bottom: 10px;
}
